# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/
env/
*.egg-info/

# IDE
.vscode/
.idea/
.agents/
# Training outputs
runs/
results/
logs/

# Model weights
*.pt
*.pth
*.onnx
*.engine

# Dataset folders
first_data/
data/
pretrained_weights/
data_for_train/
seg/
# OS files
.DS_Store
ultralytics/
